@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-image: url(./assets/images/barretro.svg);
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: row;
}

#animazione img {
  width: 100vh;
}

.pixel-border {
  margin-top: 30px;
  width: 660px;
  height: 717px;
  background: white;
  box-shadow:
    10px 0 0 black,
    -10px 0 0 black,
    0 10px 0 black,
    0 -10px 0 black;
}

#domande {
  margin: 30px;
  padding: 10px;
}

#risposte {
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* BOTONES RETRO */
.retro-btn {
  font-family: "Press Start 2P", system-ui;
  font-size: 12px;
  padding: 14px 22px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  text-transform: uppercase;

  box-shadow:
    4px 0 0 black,
    -4px 0 0 black,
    0 4px 0 black,
    0 -4px 0 black;
}

.retro-btn:hover {
  background: #dcdcdc;
}

.retro-btn:active {
  transform: translate(4px, 4px);
  box-shadow:
    2px 0 0 black,
    -2px 0 0 black,
    0 2px 0 black,
    0 -2px 0 black;
}

#sidebar {
  text-align: center;
}

#Emma {
  width: 100px;
}

.tindermatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tindermatch img {
  width: 90%;
}

.selectedGirl {
  font-size: 3em;
  color: red;
}
